<body>
  <div class="container-fluid HEADER">
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron ">
          <h1 class="TITLE">Github Name Search </h1>
          <small class="small"> - where people view users and their repositories</small>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid partOne">
    <div class="row">
      <div class="col-md-12">
        <div class="item">
          <form class="get-git-username MYFORM">
            <label for="gitUsername">Username:</label>
            <input class="form-control SEARCH" type="text" placeholder="Enter a GitHub username" name="username" [(ngModel)] ="username" (keyup)="searchUser()">
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid partTwo">
    <div class="row">
      <div class="col-md-6 image-user">
        <img class="account-img img-thumbnail image-profile" src="{{user.avatar_url}}">
      </div>

      <div class="col-md-6 user-details">
        <div class="sub-partOne">

          <input class="input-buttons" type="button" name="" value="Name: {{user.name}}"> <br>
          <input class="input-buttons" type="button" name="" value="userName: {{user.login}}"> <br>
          <input class="input-buttons" type="button" name="" value="Location: {{user.location}}"> <br>
          <input class="input-buttons" type="button" name="" value="Email: {{user.email}}"> <br>
          <input class="input-buttons" type="button" name="" value="organisation: {{user.organisation}}">

        </div>
      </div>
    </div>
  </div>

<hr>

<div class="container-fluid sectionOne">
  <div class="row">
    <div class="col-md-12">
      <div class="container-fluid partThree">
        <div class="row">
          <div class="col-md-12">
            <div class="well firstWell">
              <div class="grid-container">
                <div class="grid-item">
                  <div class="track well-text">
                    <p> Repositories:  <span class=label-label-primary >{{user.public_repos}}</span></p>
                    <p> Followers:  {{user.followers}}</p>
                    <p> Following:  {{user.following}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="container-fluid myRepos">
        <div class="row">
          <div class="col-md-12">
            <div class="well">
              <div class="panel panel-default">
                <div class="container-fluid">
                  <div class="row">
                    <div class="container-md-6 repos-list">
                      <div class="panel-heading">
                        <strong><h3 class="panel-title">Repos</h3></strong>
                        <ul>
                          <li *ngFor="let repo of repos">{{repo.name}}</li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-6 repos-details">
                      <div class="panel-body">
                        <div *ngFor ="let repo of repos">
                          <div class="row">
                            <div class="grid-item">
                              <h4><a href="user.html_url" target="_blank">{{repo.name}}</a></h4><p>:{{repo.description}}</p>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  <div class="container-fluid footer">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-text">
          <p class="copyright"> &copy; Copyright. 2018.All Rights Reserved</p>
          <p class="developedBy">Developed by Kinuthia David</p>
        </div>

      </div>
    </div>
  </div>
</body>
