.TITLE{
  font-size: 38px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 1px;
  margin-bottom: 1px;

}
.small{
  color: white;
  text-align: center;
  margin-left: 555px;


}
.MYFORM{
  margin-left: 200px;
  margin-bottom: 80px;

}
.SEARCH{
  height: 20px;
  width: 700px;
  margin-top: 20px;
}
.image-profile{
  border-style: solid;
  border-color: grey;
  border-width: 2px;
  margin: auto;
  border-radius: 90px;
  width: 180px;
  margin-left: 200px;
  margin-top: -10px;

}
.partOne{
  background-color: #EDF0F0;
  height: 130px;

}
.partTwo{
  background-color: #EDF0F0;
  height: 200px;
  /* margin-bottom: 1px; */
}
.image-user{
  float: left;
}
.user-details{
  float: right;
  margin-right: 170px;
}
.partThree{
  background-color: #EDF0F0;
  padding-top: 1px;
}
.firstWell{
  height: 200px;
  width: 600px;
  margin-left: 300px;
  margin-right: 40px;
  background-color: #4D4D4F;
  color: white;
  margin-top: 50px;
}
.well-text{
  text-align: center;
  padding-top: 30px;
}
.HEADER{
  background-color: #110107;
  color: white;
  height: 200px;
}
.input-buttons{
  height: 30px;
  width: 200px;
  color: white;
  background-color: #686477;
  border-style: solid;
  border-width: 1px;
  border-color: #5D557C;
  border-radius: 5px;
  margin-bottom: 10px;
}
.sub-partOne{
  margin-top: -10px;
}
.repos-list{
  float: left;
}
.repos-details{
  float: right;
}
.myRepos{
  height: auto;
  background-color: #EDF0F0;
  /* margin-top: 5px; */

}
.footer{
  background-color: #110107;
  color: white;
  height: 150px;
}
.footer-text{
  text-align: center;
  padding-top: 20px;
}
.sectionOne{
  background-color: #EDF0F0;
  height: 1000px;
}
