.TITLE{
  font-size: 38px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 1px;
  margin-bottom: 1px;

}
.small{
  color: white;
  text-align: center;
  margin-left: 555px;


}
.MYFORM{
  margin-left: 200px;
  margin-bottom: 80px;

}
.SEARCH{
  height: 20px;
  width: 500px;
}
.image-profile{
  border-style: solid;
  border-color: grey;
  border-width: 2px;
  margin: auto;
  border-radius: 40px;
  width: 120px;
  margin-left: 200px;

}
.partOne{
  background-color: #CA9FAF;
  height: 150px;

}
.HEADER{
  background-color: #110107;
  color: white;
  height: 200px;
}
