.TITLE{
  font-size: 38px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 1px;
  margin-bottom: 1px;

}
.small{
  color: white;
  text-align: center;
  margin-left: 555px;


}
.MYFORM{
  margin-left: 200px;
  margin-bottom: 80px;

}
.SEARCH{
  height: 20px;
  width: 700px;
  margin-top: 20px;
}
.image-profile{
  border-style: solid;
  border-color: grey;
  border-width: 2px;
  margin: auto;
  border-radius: 90px;
  width: 180px;
  margin-left: 200px;
  margin-top: -10px;

}
.partOne{
  background-color: #EDF0F0;
  height: 130px;

}
.partTwo{
  background-color: #EDF0F0;
  height: 200px;
}
.image-user{
  float: left;
}
.user-details{
  float: right;
  margin-right: 170px;
}
.partThree{
  background-color: white;
}
.firstWell{
  height: 100px;
  width: 250px;
  margin-left: 50px;
  margin-right: 40px;
  background-color: #4D4D4F;
  color: white;
}
.HEADER{
  background-color: #110107;
  color: white;
  height: 200px;
}
